---
{{- $device_type := "" -}}
{{- if env "SYSTEM_DEVICE_TYPE" -}}
  {{- $device_type = env "SYSTEM_DEVICE_TYPE" -}}
{{- else -}}
  {{- $device_choices := list "desktop" "laptop" -}}
  {{- $device_type = promptChoiceOnce . "desktop" "Specify system device type: " $device_choices -}}
{{- end -}}

{{- $theme := "" -}}
{{- if env "SYSTEM_THEME" -}}
  {{- $theme = env "SYSTEM_THEME" -}}
{{- else -}}
  {{- $theme_choices := list "white" "dark" -}}
  {{- $theme = promptChoiceOnce . "white" "Specify system theme: " $theme_choices -}}
{{- end }}
data:
  DEVICE_TYPE: {{ $device_type | quote }}
  THEME: {{ $theme | quote }}

merge:
  command: "bash"
  args:
  - "-c"
  - {{ "cp {{ .Target }} {{ .Target }}.base && code --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}" }}