{{- $ctx := index . 0 -}}
{{- $theme_dir := index . 1 -}}

{{ includeTemplate (joinPath $theme_dir "polybar/colors") }}

{{ includeTemplate (joinPath $theme_dir "polybar/modules/common_modules") }}

{{ if eq $ctx.DEVICE_TYPE "laptop" -}}
{{ includeTemplate (joinPath $theme_dir "polybar/modules/laptop_modules") }}
{{- else if eq $ctx.DEVICE_TYPE "desktop" -}}
{{ includeTemplate (joinPath $theme_dir "polybar/modules/desktop_modules") }}
{{- end }}

##############################
# MAIN POLYBAR CONFIGURATION #
##############################
[bar/archcraft-bar]
font-0 = 0xProto Nerd Font Mono:style=Regular:size=10;1
# Icons
font-1 = Symbols Nerd Font Mono:style=Regular:size=12;1
# Enlarged glyps for rounded corners
font-2 = Symbols Nerd Font:style=Regular:size=14;1

background = ${colors.BLACK}
foreground = ${colors.FOREGROUND}

{{ if eq $ctx.DEVICE_TYPE "laptop" -}}
modules-left = 
modules-center =
modules-right = network sep battery sep keyboard sep audio sep date sep powermenu
{{- else if eq $ctx.DEVICE_TYPE "desktop" -}}
modules-left = 
modules-center =
modules-right = ethernet sep keyboard sep audio sep date sep powermenu
{{- end }}

width = 100%
height = 30

line-size = 2
line-color = ${colors.ACCENT}

border-size = 0
border-color = ${colors.BACKGROUND}

; Number of spaces to add at the beginning/end of the bar
; Individual side values can be defined using:
;   padding-{left,right}
padding = 0

; Number of spaces to add before/after each module
; Individual side values can be defined using:
;   module-margin-{left,right}
module-margin-left = 0
module-margin-right = 0